<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="vvp.diplom.draft2">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">
        <!--android:debuggable="true">-->

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:icon="@drawable/ic_sportspring"
            android:logo="@drawable/ic_sportspring"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.TournamentsActivity"
            android:label="@string/tournaments_title"
            android:icon="@drawable/ic_sportspring"
            android:logo="@drawable/ic_sportspring"
            android:screenOrientation="portrait">
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".activities.LoginActivity" />-->
        </activity>

        <activity
            android:name=".activities.RoundsActivity"
            android:label="@string/rounds_title"
            android:icon="@drawable/ic_sportspring"
            android:logo="@drawable/ic_sportspring"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.MatchesActivity"
            android:label="@string/matches_title"
            android:icon="@drawable/ic_sportspring"
            android:logo="@drawable/ic_sportspring"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.ProtocolActivity"
            android:icon="@drawable/ic_sportspring"
            android:logo="@drawable/ic_sportspring"
            android:windowSoftInputMode="stateHidden"
            android:uiOptions="splitActionBarWhenNarrow">
            <!--android:screenOrientation="portrait"-->
        </activity>

        <activity
            android:name=".activities.ProtocolActivitySwipe"
            android:icon="@drawable/ic_sportspring"
            android:logo="@drawable/ic_sportspring"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize">
            <!--android:screenOrientation="portrait"-->
        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
